<header class="antialiased">
  <nav
    class="bg-white border-b-[1px] border-neutral-600 ps-4  dark:bg-neutral-950"
  >
    <div class="flex flex-wrap justify-between items-center">

      <div class="flex justify-start items-center">
        <p class="flex mr-4 font-inter">
          <span
            class="self-center text-2xl my-1 font-semibold font-inter whitespace-nowrap dark:text-white"
          >
            {{ this.header_title }}
          </span>
        </p>
      </div>
<div class="flex items-center lg:order-2 font-inter">
  <div class="h-10 w-px bg-neutral-700"></div>
  <button
    data-dropdown-offset-skidding="-90"
    type="button"
    id="user-menu-button"
    aria-expanded="false"
    data-dropdown-toggle="dropdown"
    class="group inline-flex items-center p-2 me-4 text-sm md:mr-0 overflow-hidden outline-none hover:bg-neutral-800 active:bg-neutral-700 transition"
  >
    <span class="sr-only">Open user menu</span>
    <svg
      class="w-6 h-6 text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-width="2"
        d="M5 7h14M5 12h14M5 17h14"
      />
    </svg>
  </button>
  <div class="h-10 w-px bg-neutral-700 me-2"></div>
  <div
    class="hidden z-50 my-4 w-56 text-base list-none bg-neutral-900 border-[1px] border-neutral-700 divide-y divide-neutral-700 shadow-lg"
    id="dropdown"
  >
    <div class="py-3 px-4">
      <span class="block text-sm font-semibold font-inter text-white">
        {{ user.first_name }} {{ user.last_name }}
      </span>
      <span class="block text-sm text-gray-400 truncate">
        {{ user.email }}
      </span>
    </div>
    <ul class="py-1 text-gray-300" aria-labelledby="dropdown">
      <li>
        <a
          href="/profile/settings"
          class="block py-2 px-4 text-sm hover:bg-neutral-800 hover:text-white transition"
        >
          Account Settings
        </a>
      </li>
    </ul>
    <ul
      *ngIf="['admin', 'manager'].includes(user.role)"
      class="py-1 text-gray-300"
      aria-labelledby="dropdown"
    >
      <li *ngIf="['admin', 'manager'].includes(user.role)">
        <a
          href="/admin/users"
          class="block py-2 px-4 text-sm hover:bg-neutral-800 hover:text-white transition"
        >
          User Management
        </a>
      </li>
      <!--<li *ngIf="['admin'].includes(user.role)">
        <a
          href="/admin/content_manager"
          class="block py-2 px-4 text-sm hover:bg-neutral-800 hover:text-white transition"
        >
          Content Manager
        </a>
      </li>-->
    </ul>
    <ul class="py-1 text-gray-300" aria-labelledby="dropdown">
      <li>
        <a
          href="#"
          (click)="logout()"
          class="block py-2 px-4 text-sm hover:bg-neutral-800 hover:text-amber-400 transition font-medium"
        >
          Sign out
        </a>
      </li>
    </ul>
  </div>
</div>
    </div>
  </nav>
</header>